<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Slider</string>
	<key>ordering</key>
	<integer>13000</integer>
	<key>description</key>
	<string>Allows the user to visually select a value</string>
	<key>inheritsFrom</key>
	<string>CCControl</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCSlider</string>
	<key>editorClassName</key>
	<string>CCBPSlider</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>200</integer>
				<integer>10</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>maxSize</string>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>preferredSize</string>
			<key>displayName</key>
			<string>Preferred size</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>preferredSize</string>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>maxSize</string>
			<key>displayName</key>
			<string>Max size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCSlider</string>
			<key>name</key>
			<string>CCSlider</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/ccbSliderBgNormal.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Background</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|Normal</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/ccbSliderHandle.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Handle</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>handleSpriteFrame|Normal</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Highlighted state</string>
			<key>name</key>
			<string>Highlighted state</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/ccbSliderBgHighlighted.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Background</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|Highlighted</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Handle</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>handleSpriteFrame|Highlighted</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Disabled state</string>
			<key>name</key>
			<string>Disabled state</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Background</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|Disabled</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Handle</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>handleSpriteFrame|Disabled</string>
		</dict>
	</array>
</dict>
</plist>
