<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>targetEngine</key>
	<string>SpriteKit</string>
	<key>ordering</key>
	<integer>30</integer>
	<key>displayName</key>
	<string>Label (Sprite Kit)</string>
	<key>description</key>
	<string>Displays text using a Truetype Font.</string>
	<key>className</key>
	<string>SKLabelNode</string>
	<key>inheritsFrom</key>
	<string>SKNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>SKSpriteNode</string>
		<key>property</key>
		<string>texture</string>
	</dict>
	<key>editorClassName</key>
	<string>SKLabelNode</string>
	<key>properties</key>
	<array>
		<dict>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>displayName</key>
			<string>SKLabelNode</string>
			<key>name</key>
			<string>SKLabelNode</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Label</string>
			<key>name</key>
			<string>text</string>
			<key>displayName</key>
			<string>Text</string>
			<key>type</key>
			<string>StringSimple</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Chalkduster</string>
			<key>displayName</key>
			<string>Font Name</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>fontName</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>24</integer>
			<key>displayName</key>
			<string>Font Size</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>fontSize</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fontColor</string>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<string>1</string>
				<string>1</string>
				<string>1</string>
			</array>
			<key>displayName</key>
			<string>Font Color</string>
			<key>type</key>
			<string>Color4</string>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array/>
</dict>
</plist>
