<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>targetEngine</key>
	<string>SpriteKit</string>
	<key>ordering</key>
	<integer>22</integer>
	<key>displayName</key>
	<string>Label</string>
	<key>description</key>
	<string>Displays text using a Truetype Font.</string>
	<key>className</key>
	<string>SKLabelNode</string>
	<key>inheritsFrom</key>
	<string>SKNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>canBeRootNode</key>
	<false/>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>SKSpriteNode</string>
		<key>property</key>
		<string>spriteFrame</string>
	</dict>
	<key>editorClassName</key>
	<string>CCBPluginSKLabelNode</string>
	<key>properties</key>
	<array>
		<dict>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>displayName</key>
			<string>SKLabelNode</string>
			<key>name</key>
			<string>SKLabelNode</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Label</string>
			<key>name</key>
			<string>text</string>
			<key>displayName</key>
			<string>Text</string>
			<key>type</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Chalkduster</string>
			<key>displayName</key>
			<string>Font Name</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>fontName</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>24</integer>
			<key>displayName</key>
			<string>Font Size</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>fontSize</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fontColor</string>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<string>1</string>
				<string>1</string>
				<string>1</string>
			</array>
			<key>displayName</key>
			<string>Font Color</string>
			<key>type</key>
			<string>Color4</string>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>extra</key>
			<string>Center|0|Left|1|Right|2</string>
			<key>default</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Horizontal Alignment</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>horizontalAlignmentMode</string>
		</dict>
		<dict>
			<key>extra</key>
			<string>Baseline|0</string>
			<key>extra - (all values)</key>
			<string>Baseline|0|Center|1|Top|2|Bottom|3</string>
			<key>default</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Vertical Alignment</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>verticalAlignmentMode</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
</dict>
</plist>
