<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>targetEngine</key>
	<string>SpriteKit</string>
	<key>ordering</key>
	<integer>30</integer>
	<key>displayName</key>
	<string>Button</string>
	<key>description</key>
	<string>With background sprite and label. Runs selector/block when touched/clicked.</string>
	<key>inheritsFrom</key>
	<string>SBControlNode</string>
	<key>className</key>
	<string>SBButtonNode</string>
	<key>editorClassName</key>
	<string>CCBPluginSBButtonNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>canBeRootNode</key>
	<false/>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>SBButtonNode</string>
			<key>name</key>
			<string>SBButtonNode</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Title</string>
			<key>displayName</key>
			<string>Title</string>
			<key>type</key>
			<string>String</string>
			<key>name</key>
			<string>title</string>
		</dict>
		<dict>
			<key>dontSetInEditor</key>
			<true/>
			<key>default</key>
			<false/>
			<key>defaultSerialization</key>
			<false/>
			<key>displayName</key>
			<string>Zoom when highlighted</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>zoomWhenHighlighted</string>
		</dict>
		<dict>
			<key>dontSetInEditor</key>
			<true/>
			<key>default</key>
			<false/>
			<key>defaultSerialization</key>
			<false/>
			<key>displayName</key>
			<string>Toggles selected state</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>togglesSelectedState</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Normal State</string>
			<key>name</key>
			<string>Normal State</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/ccbButtonNormal.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|Normal</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Background opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>backgroundOpacity|Normal</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Background color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>backgroundColor|Normal</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Label opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>labelOpacity|Normal</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Label color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>labelColor|Normal</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Highlighted State</string>
			<key>name</key>
			<string>Highlighted State</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/ccbButtonHighlighted.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|Highlighted</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Background opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>backgroundOpacity|Highlighted</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Background color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>backgroundColor|Highlighted</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Label opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>labelOpacity|Highlighted</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Label color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>labelColor|Highlighted</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Disabled State</string>
			<key>name</key>
			<string>Disabled State</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/ccbButtonNormal.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|Disabled</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Background opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>backgroundOpacity|Disabled</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Background color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>backgroundColor|Disabled</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Label opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>labelOpacity|Disabled</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Label color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>labelColor|Disabled</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Selected State</string>
			<key>name</key>
			<string>Selected State</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/ccbButtonNormal.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame|Selected</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Background opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>backgroundOpacity|Selected</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Background color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>backgroundColor|Selected</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Label opacity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>labelOpacity|Selected</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Label color</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>labelColor|Selected</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>CCLabelTTF</string>
			<key>name</key>
			<string>CCLabelTTF</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Helvetica</string>
			<key>displayName</key>
			<string>Font name</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>fontName</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>17</integer>
				<integer>0</integer>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Font size</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>fontSize</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>5</integer>
				<integer>0</integer>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Horizontal padding</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>horizontalPadding</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>5</integer>
				<integer>0</integer>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Vertical padding</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>verticalPadding</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Font Effects</string>
			<key>name</key>
			<string>Font Effects</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>fontColor</string>
			<key>defaultSerialization</key>
			<array>
				<integer>255</integer>
				<string>255</string>
				<string>255</string>
				<string>255</string>
			</array>
			<key>displayName</key>
			<string>Draw Color</string>
			<key>type</key>
			<string>Color4</string>
			<key>default</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>40</integer>
				<integer>40</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>maxSize</string>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>preferredSize</string>
			<key>displayName</key>
			<string>Preferred size</string>
		</dict>
	</array>
</dict>
</plist>
