<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.spritebuilder.translationstier1</string>
	<string>com.spritebuilder.translationstier2</string>
	<string>com.spritebuilder.translationstier3</string>
	<string>com.spritebuilder.translationstier4</string>
	<string>com.spritebuilder.translationstier5</string>
	<string>com.spritebuilder.translationstier6</string>
	<string>com.spritebuilder.translationstier7</string>
	<string>com.spritebuilder.translationstier8</string>
	<string>com.spritebuilder.translationstier9</string>
	<string>com.spritebuilder.translationstier10</string>
	<string>com.spritebuilder.translationstier11</string>
	<string>com.spritebuilder.translationstier12</string>
	<string>com.spritebuilder.translationstier13</string>
	<string>com.spritebuilder.translationstier14</string>
	<string>com.spritebuilder.translationstier15</string>
	<string>com.spritebuilder.translationstier16</string>
	<string>com.spritebuilder.translationstier17</string>
	<string>com.spritebuilder.translationstier18</string>
	<string>com.spritebuilder.translationstier19</string>
	<string>com.spritebuilder.translationstier20</string>
	<string>com.spritebuilder.translationstier21</string>
	<string>com.spritebuilder.translationstier22</string>
	<string>com.spritebuilder.translationstier23</string>
	<string>com.spritebuilder.translationstier24</string>
	<string>com.spritebuilder.translationstier25</string>
	<string>com.spritebuilder.translationstier26</string>
	<string>com.spritebuilder.translationstier27</string>
	<string>com.spritebuilder.translationstier28</string>
	<string>com.spritebuilder.translationstier29</string>
	<string>com.spritebuilder.translationstier30</string>
	<string>com.spritebuilder.translationstier31</string>
	<string>com.spritebuilder.translationstier32</string>
	<string>com.spritebuilder.translationstier33</string>
	<string>com.spritebuilder.translationstier34</string>
	<string>com.spritebuilder.translationstier35</string>
	<string>com.spritebuilder.translationstier36</string>
	<string>com.spritebuilder.translationstier37</string>
	<string>com.spritebuilder.translationstier38</string>
	<string>com.spritebuilder.translationstier39</string>
	<string>com.spritebuilder.translationstier40</string>
	<string>com.spritebuilder.translationstier41</string>
	<string>com.spritebuilder.translationstier42</string>
	<string>com.spritebuilder.translationstier43</string>
	<string>com.spritebuilder.translationstier44</string>
	<string>com.spritebuilder.translationstier45</string>
	<string>com.spritebuilder.translationstier46</string>
	<string>com.spritebuilder.translationstier47</string>
	<string>com.spritebuilder.translationstier48</string>
	<string>com.spritebuilder.translationstier49</string>
	<string>com.spritebuilder.translationstier50</string>
	<string>com.spritebuilder.translationstier51</string>
	<string>com.spritebuilder.translationstier52</string>
	<string>com.spritebuilder.translationstier53</string>
	<string>com.spritebuilder.translationstier54</string>
	<string>com.spritebuilder.translationstier55</string>
	<string>com.spritebuilder.translationstier56</string>
	<string>com.spritebuilder.translationstier57</string>
	<string>com.spritebuilder.translationstier58</string>
	<string>com.spritebuilder.translationstier59</string>
	<string>com.spritebuilder.translationstier60</string>
	<string>com.spritebuilder.translationstier61</string>
	<string>com.spritebuilder.translationstier62</string>
	<string>com.spritebuilder.translationstier63</string>
	<string>com.spritebuilder.translationstier64</string>
	<string>com.spritebuilder.translationstier65</string>
	<string>com.spritebuilder.translationstier66</string>
	<string>com.spritebuilder.translationstier67</string>
	<string>com.spritebuilder.translationstier68</string>
	<string>com.spritebuilder.translationstier69</string>
	<string>com.spritebuilder.translationstier70</string>
	<string>com.spritebuilder.translationstier71</string>
	<string>com.spritebuilder.translationstier72</string>
	<string>com.spritebuilder.translationstier73</string>
	<string>com.spritebuilder.translationstier74</string>
	<string>com.spritebuilder.translationstier75</string>
	<string>com.spritebuilder.translationstier76</string>
	<string>com.spritebuilder.translationstier77</string>
	<string>com.spritebuilder.translationstier78</string>
	<string>com.spritebuilder.translationstier79</string>
	<string>com.spritebuilder.translationstier80</string>
	<string>com.spritebuilder.translationstier81</string>
	<string>com.spritebuilder.translationstier82</string>
	<string>com.spritebuilder.translationstier83</string>
	<string>com.spritebuilder.translationstier84</string>
	<string>com.spritebuilder.translationstier85</string>
</array>
</plist>
