[submodule "SpriteBuilder/libs/cocos2d-iphone"]
	path = SpriteBuilder/libs/cocos2d-iphone
url=git@github.com:cocos2d/cocos2d-iphone.git
[submodule "SpriteBuilder/libs/ssziparchive"]
	path = SpriteBuilder/libs/ssziparchive
	url = https://github.com/vlidholt/ssziparchive.git

[submodule "SpriteBuilder/libs/SpriteKit"]
	path = SpriteBuilder/libs/SpriteKit
url=https://github.com/apportable/SpriteBuilder-SK.git
[submodule "SpriteBuilder/libs/Sparkle"]
	path = SpriteBuilder/libs/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
