[submodule "SpriteBuilder/libs/cocos2d-iphone"]
	path = SpriteBuilder/libs/cocos2d-iphone
	url = https://github.com/apportable/cocos2d-iphone.git
[submodule "SpriteBuilder/libs/ssziparchive"]
	path = SpriteBuilder/libs/ssziparchive
	url = https://github.com/vlidholt/ssziparchive.git
[submodule "SpriteBuilder/libs/Fragaria"]
	path = SpriteBuilder/libs/Fragaria
	url = https://github.com/vlidholt/Fragaria.git

