<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ordering</key>
	<integer>1010</integer>
	<key>displayName</key>
	<string>Layer</string>
	<key>description</key>
	<string>Acts pretty much the same as a node (may be removed in future).</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCLayer</string>
	<key>properties</key>
	<array/>
	<key>editorClassName</key>
	<string>CCBPLayer</string>
	<key>propertiesOverridden</key>
	<array/>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>displayFrame</string>
	</dict>
</dict>
</plist>
