<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>className</key>
	<string>CCControl</string>
	<key>editorClassName</key>
	<string>CCControl</string>
	<key>isAbstract</key>
	<true/>
	<key>properties</key>
	<array>
		<dict>
			<key>codeConnection</key>
			<true/>
			<key>displayName</key>
			<string>CCControl</string>
			<key>name</key>
			<string>CCControl</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<integer>1</integer>
			</array>
			<key>codeConnection</key>
			<true/>
			<key>displayName</key>
			<string>Selector</string>
			<key>type</key>
			<string>Block</string>
			<key>name</key>
			<string>block</string>
		</dict>
		<dict>
			<key>codeConnection</key>
			<true/>
			<key>dontSetInEditor</key>
			<true/>
			<key>default</key>
			<false/>
			<key>defaultSerialization</key>
			<false/>
			<key>displayName</key>
			<string>Continuous</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>continuous</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>CCControl</string>
			<key>name</key>
			<string>CCControl</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>maxSize</string>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>preferredSize</string>
			<key>displayName</key>
			<string>Preferred size</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>preferredSize</string>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>maxSize</string>
			<key>displayName</key>
			<string>Max size</string>
		</dict>
		<dict>
			<key>dontSetInEditor</key>
			<true/>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>User Interaction Enabled</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>userInteractionEnabled</string>
		</dict>
	</array>
</dict>
</plist>
