<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Text Field</string>
	<key>ordering</key>
	<integer>12000</integer>
	<key>description</key>
	<string>Allows the user to enter text, sends events when the text finishes editing.</string>
	<key>inheritsFrom</key>
	<string>CCControl</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCTextField</string>
	<key>editorClassName</key>
	<string>CCBPTextField</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>200</integer>
				<integer>36</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>maxSize</string>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>preferredSize</string>
			<key>displayName</key>
			<string>Preferred size</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>preferredSize</string>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>maxSize</string>
			<key>displayName</key>
			<string>Max size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCTextField</string>
			<key>name</key>
			<string>CCTextField</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/ccbTextField.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundSpriteFrame</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>7</integer>
				<integer>0</integer>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Padding</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>padding</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Float</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>name</key>
			<string>fontSize</string>
			<key>displayName</key>
			<string>Font size</string>
			<key>default</key>
			<integer>17</integer>
		</dict>
	</array>
</dict>
</plist>
