<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>targetEngine</key>
	<string>SpriteKit</string>
	<key>description</key>
	<string>Embeds another SpriteBuilder CCB file by reference.</string>
	<key>ordering</key>
	<integer>2000</integer>
	<key>canHaveChildren</key>
	<false/>
	<key>displayName</key>
	<string>Sub File</string>
	<key>inheritsFrom</key>
	<string>SKNode</string>
	<key>className</key>
	<string>CCBSKFile</string>
	<key>editorClassName</key>
	<string>CCBPluginSKFile</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCB File</string>
			<key>name</key>
			<string>CCBFile</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>CCB File</string>
			<key>type</key>
			<string>CCBFile</string>
			<key>name</key>
			<string>ccbFile</string>
		</dict>
	</array>
</dict>
</plist>
