<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Light Node</string>
	<key>ordering</key>
	<integer>4000</integer>
	<key>description</key>
	<string>Draws a rectangular area filled with a color.</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>className</key>
	<string>CCLightNode</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCLightNode</string>
			<key>name</key>
			<string>CCLightNode</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Light Type</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>type</string>
			<key>extra</key>
			<string>Point|0|Directional|1</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Light Groups</string>
			<key>type</key>
			<string>TokenArray</string>
			<key>name</key>
			<string>groups</string>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>name</key>
			<string>color</string>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Diffuse Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Diffuse Intensity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>intensity</string>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>name</key>
			<string>specularColor</string>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Specular Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Specular Intensity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>specularIntensity</string>
		</dict>
		<dict>
			<key>animatable</key>
			<true/>
			<key>name</key>
			<string>ambientColor</string>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>Ambient Color</string>
			<key>type</key>
			<string>Color3</string>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<real>0.5</real>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<real>0.5</real>
			<key>displayName</key>
			<string>Ambient Intensity</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>ambientIntensity</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Cutoff Radius</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>cutoffRadius</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<real>0.5</real>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<real>0.5</real>
			<key>displayName</key>
			<string>Half Radius</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>halfRadius</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>Depth</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>depth</string>
		</dict>
	</array>
	<key>editorClassName</key>
	<string>CCBPLightNode</string>
	<key>propertiesOverridden</key>
	<array/>
</dict>
</plist>
