//
//  ReleasePro.xcconfig
//  SpriteBuilder
//
//  Created by John Twigg on 6/30/14.
//
//
#include "SpriteBuilder.xcconfig"
SB_PRODUCT_NAME=SpriteBuilderPro

//Merge & Overwrite
SB_DEBUG_PREPROCESSOR_DEFINES = $(SB_SHARED_DEBUG_PREPROCESSOR_DEFINES) SPRITEBUILDER_PRO=1
SB_RELEASE_PREPROCESSOR_DEFINES = $(SB_SHARED_RELEASE_PREPROCESSOR_DEFINES) SPRITEBUILDER_PRO=1