//
//  SpriteBuilder.xcconfig
//  SpriteBuilder
//
//  Created by John Twigg on 6/30/14.
//
//


//Switch the config file to use default/Pro  via this menu, both debug and release.
//http://stackoverflow.com/a/13277057/911163

SB_PRODUCT_NAME=SpriteBuilder

//Shared between all version.
SB_SHARED_DEBUG_PREPROCESSOR_DEFINES   = CC_DIRECTOR_MAC_THREAD=2 COCOS2D_DEBUG=1 CC_ENABLE_GL_STATE_CACHE=1 DEBUG
SB_SHARED_RELEASE_PREPROCESSOR_DEFINES = CC_DIRECTOR_MAC_THREAD=2 NDEBUG NS_BLOCK_ASSERTIONS CC_ENABLE_GL_STATE_CACHE=1

//This can be overwritten in a subsequent xcconfig.
SB_DEBUG_PREPROCESSOR_DEFINES = $(SB_SHARED_DEBUG_PREPROCESSOR_DEFINES)
SB_RELEASE_PREPROCESSOR_DEFINES = $(SB_SHARED_RELEASE_PREPROCESSOR_DEFINES)