<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ordering</key>
	<real>3000</real>
	<key>displayName</key>
	<string>Physics Node</string>
	<key>description</key>
	<string>Applies physics to all nodes with physics bodies below the physics node.</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCPhysicsNode</string>
	<key>properties</key>
	<array>
		<dict>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>displayName</key>
			<string>CCPhysicsNode</string>
			<key>name</key>
			<string>CCPhysicsNode</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>-100</integer>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>gravity</string>
			<key>displayName</key>
			<string>Gravity</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>sleepTimeThreshold</string>
			<key>displayName</key>
			<string>Sleep time threshold</string>
		</dict>
	</array>
	<key>editorClassName</key>
	<string>CCBPPhysicsNode</string>
	<key>propertiesOverridden</key>
	<array/>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>spriteFrame</string>
	</dict>
</dict>
</plist>
