<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ordering</key>
	<real>3200</real>
	<key>displayName</key>
	<string>Physics Distance Joint</string>
	<key>description</key>
	<string>Keeps two physics bodies at a fixed distance.</string>
	<key>inheritsFrom</key>
	<string>NSObject</string>
	<key>canHaveChildren</key>
	<false/>
	<key>canBeRootNode</key>
	<false/>
	<key>isJoint</key>
	<true/>
	<key>className</key>
	<string>CCPhysicsPinJoint</string>
	<key>properties</key>
	<array>
		<dict>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>displayName</key>
			<string>CCPhysicsDistanceJoint</string>
			<key>name</key>
			<string>CCPhysicsPinJoint</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>animatable</key>
			<false/>
			<key>displayName</key>
			<string>Position</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>position</string>
			<key>inspectorDisabled</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>affectsProperties</key>
			<array>
				<string>bodyA</string>
			</array>
			<key>displayName</key>
			<string>Body A</string>
			<key>type</key>
			<string>NodeReference</string>
			<key>name</key>
			<string>bodyA</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>affectsProperties</key>
			<array>
				<string>bodyB</string>
			</array>
			<key>displayName</key>
			<string>Body B</string>
			<key>type</key>
			<string>NodeReference</string>
			<key>name</key>
			<string>bodyB</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Collide bodies</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>collideBodies</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>animatable</key>
			<false/>
			<key>displayName</key>
			<string>Anchor A</string>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorA</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>animatable</key>
			<false/>
			<key>displayName</key>
			<string>Anchor B</string>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorB</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>type</key>
			<string>FloatCheck</string>
			<key>name</key>
			<string>breakingForce</string>
			<key>displayName</key>
			<string>Breaking force</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>type</key>
			<string>FloatCheck</string>
			<key>name</key>
			<string>maxForce</string>
			<key>displayName</key>
			<string>Max force</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>type</key>
			<string>EnabledFloat</string>
			<key>name</key>
			<string>minDistance</string>
			<key>displayName</key>
			<string>Minimum distance</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>type</key>
			<string>EnabledFloat</string>
			<key>name</key>
			<string>maxDistance</string>
			<key>displayName</key>
			<string>Maximum distance</string>
		</dict>
	</array>
	<key>editorClassName</key>
	<string>CCBPhysicsPinJoint</string>
	<key>propertiesOverridden</key>
	<array/>
</dict>
</plist>
